* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}
.controls {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.timer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 30px;
  font-size: 30px;
}

.timer-btn {
  border: none;
  margin-left: 15px;

  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
.disable-btn {
  background-color: #a5bba6;
}
.green-btn {
  background-color: #4caf50;
}
.red-btn {
  background-color: #dd1111;
}
.gray-btn {
  background-color: #8f8f8f;
}
.yellow-btn {
  background-color: #e4c04a;
}
.controls input {
  width: 311px;
  font-size: 20px;
}
